* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Diseño columnas*/

.column-1 {
    /*contenido*/
    width: 100%;
    float: left;
    background-color: aqua;
}

.column-2 {
    /*contenido*/
    width: 50%;
    float: left;
    background-color: green;
}

.column-3 {
    width: 33.33%;
    float: left;
    background-color: yellowgreen;
}

.column-4 {
    width: 25%;
    float: left;
    background-color: red;
}

@media only screen and (max-width: 600px) {
    .column-3 {
        width: 100%;
    }
    ç .column-4 {
        width: 50%;
    }
}